#round_the_image {
    border-radius: 50%;
}


/* ******************************************************** */

#cursor {
    background-color: white;
    animation: blink .75s step-end infinite;
}

#text {
    display: inline-block;
    vertical-align: middle;
    color: black;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

@keyframes blink {
    from,
    to {
        background-color: transparent
    }
    50% {
        background-color: black;
    }
}


/* **************************************************************************** */

.link {
    top: 5px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.link:hover {
    color: blue;
}

.link:visited {
    color: blue;
}


/* ************************************************* */

#myskill {
    width: 50%;
    height: 100%;
    position: fixed;
    left: 2%;
}

#myproject {
    width: 50%;
    height: 100%;
    right: 0;
    position: fixed;
}

#text {
    display: inline-block;
    color: black;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.headings {
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}


/* ************************************* */

.imga {
    position: relative;
}

.placingtext {
    position: absolute;
    margin-top: 100px;
}


/* ******************************************* */