#round_the_image {
    border-radius: 50%;
}

body {
    background-image: "backimage.jpeg";
    background-size: 100%;
}

* {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.link:visited {
    color: white;
}

.link.hover {
    color: white;
}

.link {
    text-decoration: none;
    size: 10px;
}

.jumbotron {
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 96px;
    /* color:black; */
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.handle {
    font-weight: 200;
    font-size: 64px;
    /* color: black; */
    margin-bottom: 50px;
    margin-left: 15px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    overflow: hidden;
}

.navbar-item {
    color: black;
    display: inline;
}

.navbar-block {
    display: block;
    color: black;
    font-weight: 400;
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    padding-bottom: 3px;
    color: #FFFFFF;
    margin-left: 15px;
    /* color: black ; */
}

.navbar-block:after {
    content: '';
    display: block;
    margin: auto;
    margin-top: 2px;
    height: 1px;
    width: 0px;
    background: black;
    transition: width .2s linear;
}

.navbar-block:hover:after {
    width: 96%;
    background: black;
}